<mat-form-field appearance="standard" [class.manual-error]="hasError()">
    <mat-label *ngIf="field.labelKey" [resource]="field.labelKey"></mat-label>
    <mat-label *ngIf="!field.labelKey">{{ field.label }}</mat-label>

    <mat-chip-list #chipList
        [attr.aria-label]="field.labelKey ? (field.labelKey | labelsResources) : (field.label || '')">
        <mat-chip *ngFor="let controlValue of control.value || []; let i=index" [selectable]="true" [removable]="true"
            (removed)="remove(i)">
            {{ controlValue }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [placeholder]="field.placeholderKey ? (field.placeholderKey | labelsResources) : (field.placeholder || '...')"
            [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)" (blur)="control.markAsTouched()">
    </mat-chip-list>

    <button type="button" mat-button tabindex="-1" *ngIf="control.value" matSuffix mat-icon-button
        aria-label="Clear field" (click)="control.setValue([])">
        <mat-icon>close</mat-icon>
    </button>

    <!-- Manually add the error section an animation do to unable to assign control to form-field -->
    <div class="mat-form-field-subscript-wrapper manual-error" *ngIf="hasError()" @slideInOutAnimation>
        <div class="mat-error">
            <app-dynamic-form-errors [control]="control" [field]="field"></app-dynamic-form-errors>
        </div>
    </div>

    <mat-hint *ngIf="!hasError()" @slideInOutAnimation>
        <span resource="Global_DF_ChipFieldHint"></span>
        <app-dynamic-form-pending [control]="control" [field]="field"></app-dynamic-form-pending>
    </mat-hint>
</mat-form-field>