.arr-add {
  margin-top: 0.625rem;
}

.arr-del {
  position: absolute;
  top: 0.125rem;
  right: 0.125rem
}

.arr-fields-cont {
  position: relative;
  padding-top: 1.5rem;
  padding-right: 1.5rem !important;
}
